*{margin: 0;padding: 0;}

.col-sm-12.tieudeto {
    margin: 40px 0px;
}

span.motaqt {
    font-size: 15px;
    font-weight: 500;
    padding: 20px 0px;
    display: block;
}

.khoittnho p {
    font-size: 13px;
    padding-top: 10px;
    line-height: 23px;
    width: 100%;
}

h3.tieudecap3 {
    font-size: 17px;
    color: #e9585f;
    padding: 15px 0px;
}

.thongtin .nutt {
    width: 180px;
    border: none;
    border-radius: 5px;
    background: black;
}

.thongtin p {
    color: #373a3c;
    font-size: 16px;
    margin-bottom: 34px;
}

.thongtin h2 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 22px;
}

.thongtin img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.thongtin {
    z-index: 2;
    position: relative;
    padding-top: 15%;
}

body,html {
    width: 100%;
    height: 100%;
}

.khoitt1 {
    width: 100%;
    height: 100%;
    background: #e9585f;
    position: relative;
}

.khoitt1:before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background: #e4555b;
}

ul.nav.navbar-nav.float-xs-right {
    padding: 0;
    margin: 0;
}

li.nav-item {
    margin: 0;
    padding: 0;
}

a.nav-link {
    font-size: 14px;
    font-family: segoe ui light;
    text-transform: uppercase;
    color:gray;
    line-height: 38px;
    margin: 0;
    padding: 0 17px;
    font-weight: 800
}

a.navbar-brand {
    padding: 0;
    margin: 0;
    height: 97px;
} 
span.dam
{
	font-weight: bold;
	font-family: tahoma;
}

h2.tieudecap2
{
	font-weight: normal;
	font-family: 'segoe ui light';
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
@media (max-width: 576px)
{
	*{}
h2.tieudecap2
{
	
	margin-top: 20px;
}
a.navbar-brand {
    display: block;
    width: 100%;
    text-align: center;
    height: 55px;
}

a.navbar-brand img {
    width: 65%;
}

li.nav-item a.nav-link {
    line-height: 34px;
    position: relative;
    left: -46px;
}
}